@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.cardname {
     font-family: 'Indie Flower', cursive;
}

.statsContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: left;
    text-align: start;
    font-size: 1.2em;
    border: 0.1em solid gray;
    margin-top: 1em;
    border-radius: 2%;
}


.specificHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* section {
    border: 0.2em black solid;
    margin-bottom: 5em;
    padding: 5em;
} */

.Battle{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  margin: 5em;
  margin-top: 0em;
    /* background-image: url("https://image.freepik.com/free-vector/cute-cartoon-hamsters-collection-set_29190-1511.jpg"); */
  /* background-color: rgba(230, 230, 250, 0.9); */
  border-radius: 1%;
  padding: 2em;
  padding-top: 5em;
}

.LatestGame{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* margin: 5em; */
  /* margin-top: 0em; */
  /* background-color: white; */
  border-radius: 1%;
  padding: 10em;
}

.LastGame{
  justify-content: center;
  align-items: center;
  /* margin: 5em;
  margin-top: 0em;
  border-radius: 1%;
  padding: 2em;
  padding-top: 5em; */
  font-family: 'Indie Flower', cursive;
}

.LastGame{
  /* margin-top:2em; */
  font-size: 1em;
}
.test{
  margin:2em;
}

/* .LastGame button{
  margin: 5em;
} */

.Stats{
  justify-content: center;
  align-items: center;
  margin: 5em;
  margin-top: 0em;
  border-radius: 1%;
  padding: 2em;
}

.Stats h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 2.2em;
}

.Stats p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}

.StatsBar {
    /* border: 1px solid black; */
    border-radius: 1em;
}

.Button{
  text-decoration: none;
  color: black;
  padding: 0.5em;
  border: 0.1em solid white;
  background-color: white;
  font-size: 1.5em;
  padding: 0.8em;
  border-radius: 0.5em;
  font-family: 'Indie Flower', cursive;
}

button{
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 1.5em;
  padding: 0.8em;
  border-radius: 0.5em;
  margin-top:2em;
  font-family: 'Indie Flower', cursive;
}

.Form{
    /* display: flex; */
    /* flex-direction: column; */
  font-family: 'Indie Flower', cursive;
    /* flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: left;
    text-align: start; */
    font-size: 1em;
    /* margin-top: 1em; */
    border-radius: 2%;
    background-color: white;
    color: black;
    padding: 5em;
text-align: center;
/* margin-right: 10em; */
}

input {
    margin: 1em;
    display: block;
    border: 0.1 solid rgb(161, 161, 161);
    border-radius: 0.5em;
    padding:1em;
    background-color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
}


