@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
  background-image: url("../src/background.jpg");
  height: 100vh;
  overflow: hidden;
}

.Start{
  /* background-image: url("https://image.freepik.com/free-vector/cute-cartoon-hamsters-collection-set_29190-1511.jpg"); */
  color: black;
  text-align: center;
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
  padding-top: 5em;
}

.Start button{
  margin: 5em;
}

.StartContainer{
background-color: white;
border-radius: 1em;
/* overflow: hidden; */
margin-left:5em;
margin-Right:5em;
padding-top:1em;
padding-bottom: 2em;
}

.App {
  color: white;
  text-align: center;
  /* background-color: rgba(230, 230, 250,0.5); */
}

.App main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 5em;
  margin-top: 0em;
}

.App header{
  font-size: 1.5em;
  padding: 1em;
}

.App h1 {
font-size: 2.5em;
text-align: center;
font-family: 'Indie Flower', cursive;
}

.App h2 {
text-align: center;
}


.Navbar {
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
  background-color: white;
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
  border-bottom: 0.1em solid black;
}

.Navbar a{
  text-decoration: none;
  color: black;
  padding: 0.5em;
}
